# Server Configuration
PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:4200

# PostgreSQL Database Configuration (Local Docker)
DB_HOST=localhost
DB_PORT=5432
DB_USER=wizcash_user
DB_PASSWORD=wizcash_password
DB_NAME=wizcash_db

# Cloud Database Connection URL (Neon / Supabase / Aiven)
# Jika DATABASE_URL diisi, backend akan otomatis menggunakan URL ini + SSL
DATABASE_URL=postgresql://neondb_owner:<PASSWORD>@ep-autumn-cell-b4r2k3br.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

